%song_data
  %song_name= self.name
  %song_artist= self.artist
  %song_album= self.album
  %song_genre= self.genre
  %song_preference= self.preference
  %song_playcnt= self.play_count
  %song_pathname= self.pathname
  %song_type= self.type
  %song_lyricsexist= self.has_lyrics
  %song_artist_id= self.artist_id
  %song_album_id= self.album_id
  %song_song_idx= self.song_index
